/* .App {
  text-align: center;
  
} */
.app {
  text-align : center ;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .app {
    max-width: 1280px;
  }
  .Component_Box {
    display : flex ;
  }
}

/* xl */
@media (max-width: 1280px) {
  .app{
    max-width: 1024px;    
  }
  .Component_Box {
    display : flex ;
    box-sizing: border-box;
  }
}

/* lg */
@media (max-width: 1024px) {
  .app {
    max-width: 768px;
  }
  .Component_Box {
    display : flex ;
    box-sizing: border-box;
  }
}

/* md */
@media (max-width: 768px) {
  .app {
    max-width: 640px;
  }
  .Component_Box {
    display : flex ;
    flex-direction: column;
    box-sizing: border-box;
  }
}

/* sm */
@media (max-width: 640px) {
  .app {
    max-width: 475px;
  }
  .Component_Box {
    display : flex ;
    flex-direction: column;
    
  }
}

/* xs */
@media (max-width: 475px) {
  .app {
    width: 100%;
  }
  .Component_Box {
    display : flex ;
    flex-direction: column;
  }
  /* .Component_Box .Component_Left {
    display : inline-block;
    flex-direction: column;
  } */

}
 




#light {
  background-color : '#f0f0f0' ;
}

#dark {
  background-color : '#black'
}


